<div class="main-area">
    <div class="main-area__driver-portrait">
        <h2>{{info.fullName}}</h2>
        <app-loading-element [loading]="wikipediaImageLoading">
            <img *ngIf="imageSrc" [src]="imageSrc">
            <img *ngIf="!imageSrc" src="/assets/images/driver-profile/shadow-driver.png">
        </app-loading-element>
    </div>
    <section class="main-area__info">
        <div class="table-info">
            <table>
                <tr><th>{{'driverProfile.info.age' | translate}}</th><td>{{info.age}}</td></tr>
                <tr>
                    <th>{{'driverProfile.info.country' | translate}}</th>
                    <td class="table-info__flag">
                        <span>{{info.countryCodes.icoCode}}</span>
                        <img src="{{'/assets/images/flags/' + info.countryCodes.isoCode + '.svg'}}">
                    </td>
                </tr>
                <tr><th>{{'driverProfile.info.dateOfBirth' | translate}}</th><td>{{info.dateOfBirth}}</td></tr>
                <tr><th>{{'driverProfile.info.team' | translate}}</th><td>{{info.constructor}}</td></tr>
                <tr><th>{{'driverProfile.info.championships' | translate}}</th><td>{{info.amountOfChampionships ?? '-'}}</td></tr>
                <tr><th>{{'driverProfile.info.runnerUpChampionships' | translate}}</th><td>{{info.amountOfRunnerUpChampionships ?? '-'}}</td></tr>
                <tr><th>{{'driverProfile.info.firstGrandPrix' | translate}}</th><td>{{info.firstRaceName ?? '-'}}</td>
                <tr><th>{{'driverProfile.info.lastGrandPrix' | translate}}</th><td>{{info.lastRaceName ?? '-'}}</td>
            </table>
        </div>
        <div class="table-info">
            <table>
                <tr><th>{{'driverProfile.info.yearsInF1' | translate}}</th><td>{{info.yearsInF1 ?? '-'}}</td></tr>
                <tr><th>{{'driverProfile.info.grandPrixEntered' | translate}}</th><td>{{info.raceStarts ?? '-'}}</td></tr>
                <tr><th>{{'driverProfile.info.highestFinish' | translate}}</th><td>{{info.highestFinish ?? '-'}}</td></tr>
                <tr><th>{{'driverProfile.info.highestGrid' | translate}}</th><td>{{info.highestStartFinish ?? '-'}}</td></tr>
                <tr><th>{{'driverProfile.info.noTeammates' | translate}}</th><td>{{info.teammates ?? '-'}}</td></tr>
                <tr><th>{{'driverProfile.info.lapsLed' | translate}}</th><td>{{info.lapsLed ?? '-'}}</td></tr>
                <tr><th>{{'driverProfile.info.podiums' | translate}}</th><td>{{info.amountOfPodiums ?? '-'}}</td></tr>
                <tr><th>{{'driverProfile.info.pitStops' | translate}}</th><td>{{info.amountOfPitStops ?? '-'}}</td></tr>
            </table>
        </div>
        <div class="table-info">
            <table>
                <tr><th>{{'driverProfile.info.pointsEarned' | translate}}</th><td>{{info.amountOfPoints ?? '-'}}</td></tr>
                <tr><th>{{'driverProfile.info.pointsPerRace' | translate}}</th><td>{{info.pointsPerRace ?? '-'}}</td></tr>
                <tr><th>{{'driverProfile.info.pointsPerSeason' | translate}}</th><td>{{info.pointsPerSeason ?? '-'}}</td></tr>
                <tr><th>{{'driverProfile.info.lapsRaced' | translate}}</th><td>{{info.lapsRaced ?? '-'}}</td></tr>
                <tr><th>{{'driverProfile.info.retirements' | translate}}</th><td>{{info.retirements ?? '-'}}</td></tr>
                <tr><th>{{'driverProfile.info.disqualifications' | translate}}</th><td>{{info.disqualifications ?? '-'}}</td></tr>
                <tr><th>{{'driverProfile.info.averageFinish' | translate}}</th><td>{{info.averageFinishPosition ?? '-'}}</td></tr>
                <tr><th>{{'driverProfile.info.averageStarting' | translate}}</th><td>{{info.averageStartPosition ?? '-'}}</td></tr>
            </table>
        </div>
    </section>
</div>

<app-loading-element [loading]="wikipediaSummaryLoading">
    <div *ngIf="summaryParagraphs.length > 0" class="summary">
        <p *ngFor="let paragraph of summaryParagraphs">{{paragraph}}</p>
        <a [href]="info.wikipediaUrl" target="_blank">{{'driverProfile.readMore' | translate}}</a>
    </div>
</app-loading-element>