<article class="friends-main">
    <fa-icon (click)="closeFriends()" icon="times" class="friends-main__close-button"></fa-icon>
    <h2>{{'friends.header' | translate}}</h2>
    <app-loading-element [loading]="friendsLoading">
        <div class="friends-main__body">
            <app-add-friends [myFriendCode]="friendResponse?.myFriendCode!"></app-add-friends>
            <app-received-friend-requests [responseFriendRequests]="friendResponse?.friendRequests!"></app-received-friend-requests>
        </div>
    </app-loading-element>
</article>
