@import "src/styles/responsiveness.scss";

.friend-request-holder {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.friend-request {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media(max-width: $mobile-max-width) {
    flex-direction: column;
  }

  &__user-info {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    h3 {
      margin: 0;
    }

    img {
      border-radius: 100%;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: var(--primary-color-text);
    font-size: 1.5rem;

    fa-icon {
      cursor: pointer;
      transition: 0.1s ease-in-out transform;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__ban {
    font-size: 1.2rem;
  }
}