<section class="main">
    <div class="chart-section">
        <div class="chart-holder">
            <canvas baseChart [type]="'line'" [options]="pointsPerSeasonOptions" [data]="pointsPerSeasonData"></canvas>
        </div>
        <div class="chart-holder">
            <canvas baseChart [type]="'bar'" [options]="startOptions" [data]="startData"></canvas>
        </div>
    </div>
    <div class="chart-section">
        <div class="chart-holder">
            <canvas baseChart [type]="'line'" [options]="pointsPerSeasonOptions" [data]="pointsPerSeasonData"></canvas>
        </div>
    </div>
</section>
