<article class="next-race-homepage">
    <img class="next-race-homepage__background" src="assets/images/homepage/next-race-background.png">

    <app-loading-element [loading]="!nextRaceResponse" class="next-race-homepage-info">
        <ng-container *ngIf="nextRaceResponse">
            <span>{{timePeriod}}</span>

            <div class="next-race-homepage-info__main">
                <div class="next-race-homepage-info__flag">
                    <img [src]="nextRaceResponse.countryCode |  countryFlag">
                    <span>{{nextRaceResponse.countryCode | countryKey | translate}}</span>
                </div>
                <div class="next-race-homepage-info__race">
                    <h3>{{nextRaceResponse.grandPrixName}}</h3>
                    <span>{{'homepage.nextRace.round' | translate:{ round: nextRaceResponse.round } }}</span>
                </div>
                <button appPrimaryButton (click)="open()" class="next-race-homepage-info__more-info">{{'homepage.nextRace.nextRaceInfo' | translate}}</button>
            </div>
        </ng-container>
    </app-loading-element>
</article>