<section class="holder">
    <h3 class="holder__header">{{config.titleKey | translate}}</h3>

    <app-loading-element [loading]="loading">
        <form [formGroup]="formData" (ngSubmit)="submitForm(formData.value)" class="holder__form">
            <app-text-input
                [inputConfig]="{
                    formControl: email,
                    labelKey: 'input.email',
                    placeholder: 'Ex. richard@example.com',
                    hintKey: config.emailHintKey,
                    inputType: 'email',
                    idAttribute: 'emailId',
                    isRequired: true
                }"
                formControlName="email"
            ></app-text-input>

            <app-text-input
                [inputConfig]="{
                    formControl: password,
                    labelKey: 'input.password',
                    hintKey: config.passwordHintKey,
                    inputType: 'password',
                    idAttribute: 'passwordId',
                    isRequired: true,
                    errorKeys
                 }"
                formControlName="password"
            ></app-text-input>

            <button [disabled]="!formData.valid" type="submit" appPrimaryButton class="holder__button">{{config.submitKey | translate}}</button>
        </form>

        <div class="end-part">
            <div class="end-part__entry">
                <span>{{config.endTextKey | translate}}</span>
                <a (click)="route()">{{config.routeTextKey | translate}}</a>
            </div>
            <a *ngIf="!isSignUp" (click)="forgotPassword()">{{'loginPage.forgotYourPassword' | translate}}</a>
        </div>
    </app-loading-element>
</section>
