.holder {
    padding: 2rem 2rem 1.25rem 2rem;

  h3 {
    font-weight: 500;
  }
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  &__form {
    min-width: 20rem;
  }

  &__buttons {
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.image-upload {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__input {
    display: flex;
    flex-direction: column;
    align-items: center;

    input[type="file"] {
      display: none;
    }
  }

  &__filename {
    font-size: 0.75rem;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
}