<section *ngIf="!navigationState.NAVIGATION_MENU_OPEN" class="header" [class.header--bell-items]="shouldShowMainIconBellNotification">
    <fa-icon (click)="toggleProfileHeader()" [icon]="icon"></fa-icon>
</section>

<section *ngIf="headerOpen" @inOutAnimation class="container">
    <div class="profile-header">
        <div class="profile-header__user-info">
            <fa-icon icon="circle-user"></fa-icon>
            <div class="profile-header__names">
                <div class="profile-header__user-name">{{session.user?.displayName}}</div>
                <div class="profile-header__email">{{session.user?.email ?? 'navigation.profile.anonymousUser' | translate}}</div>
            </div>
        </div>

        <div class="profile-header__icons">
            <span *ngIf="loggedIn" (click)="toggleBellOpen()" class="fa-layers profile-header__icon">
                <fa-icon [icon]="['far', 'bell']"></fa-icon>
                <span *ngIf="amountOfUnOpenedBellItems > 0" class="fa-layers-counter profile-header__icon-counter">{{amountOfUnOpenedBellItems}}</span>
            </span>
            <fa-icon (click)="infoButtonCallback()" [icon]="['far', 'question-circle']" class="profile-header__icon"></fa-icon>
        </div>
    </div>

    <div *ngIf="bellOpen" @bellInOutAnimation class="bell-container">
        <ng-container *ngFor="let item of bellItems">
            <div (click)="item.onClick()" class="bell-container__entry" [class.bell-container__entry--new]="!item.opened">
                <fa-icon [icon]="item.icon"></fa-icon>
                <span [innerHTML]="item.key | translate:item.keyParams"></span>
            </div>
        </ng-container>
        <div *ngIf="bellItems.length === 0" class="bell-container__no-messages">{{'navigation.profile.noNewBellNotifications' | translate}}</div>
    </div>

    <div class="display-menu">
        <div
            *ngFor="let menuItem of menuItems; let last = last"
            (click)="menuItemClicked(menuItem)"
            [ngClass]="{'display-menu__wide': last}"
            class="display-menu__route {{menuItem.cssClass}}"
        >
            <fa-icon class="fa-fw" [icon]="menuItem.icon"></fa-icon>
            <span>{{menuItem.translationKey | translate}}</span>
        </div>
    </div>
</section>
<div *ngIf="headerOpen" class="mobile mobile-shadow" (click)="clickedOutsideOfMenu()"></div>