<section *ngIf="!navigationState.NAVIGATION_MENU_OPEN" class="header">
    <fa-icon (click)="toggleProfileHeader()" [icon]="icon"></fa-icon>
</section>

<section *ngIf="headerOpen" @inOutAnimation class="container">
    <div class="profile-header">
        <div class="profile-header__user-info">
            <fa-icon icon="circle-user"></fa-icon>
            <div class="profile-header__names">
                <div class="profile-header__user-name">{{session.user?.displayName}}</div>
                <div class="profile-header__email">{{session.user?.email ?? 'navigation.profile.anonymousUser' | translate}}</div>
            </div>
        </div>

        <div class="profile-header__icons">
            <span class="fa-layers profile-header__icon">
                <fa-icon [icon]="['far', 'bell']"></fa-icon>
                <span class="fa-layers-counter profile-header__icon-counter">1</span>
            </span>
            <fa-icon (click)="infoButtonCallback()" [icon]="['far', 'question-circle']" class="profile-header__icon"></fa-icon>
        </div>
    </div>

    <div class="display-menu">
        <div
            *ngFor="let menuItem of menuItems; let last = last"
            (click)="menuItemClicked(menuItem)"
            [ngClass]="{'display-menu__wide': last}"
            class="display-menu__route {{menuItem.cssClass}}"
        >
            <fa-icon class="fa-fw" [icon]="menuItem.icon"></fa-icon>
            <span>{{menuItem.translationKey | translate}}</span>
        </div>
    </div>
</section>
<div *ngIf="headerOpen" class="mobile mobile-shadow" (click)="clickedOutsideOfMenu()"></div>