<section class="profile-header">
    <fa-icon (click)="infoButtonCallback()" [icon]="['far', 'question-circle']" class="regular-icon"></fa-icon>

    <div class="user-section">
        <div (click)="menuToggle($event)" class="user-section__menu">
            <fa-icon icon="circle-user" class="user-section__icon"></fa-icon>
            <div class="user-section__names">
                <span class="user-section__user-name">{{session.user?.displayName}}</span>
                <span class="user-section__display-name">{{session.user?.email ?? 'navigation.profile.anonymousUser' | translate}}</span>
            </div>
            <fa-icon icon="caret-down" class="user-section__arrow"></fa-icon>
        </div>

        <div *ngIf="menuOpen" @inOutAnimation class="display-menu display-menu--desktop">
            <div
                *ngFor="let menuItem of menuItems; let last = last"
                (click)="menuItem.clickCallback()"
                [ngClass]="{'display-menu__wide': last}"
                class="display-menu__route {{menuItem.cssClass}}"
            >
                <fa-icon class="fa-fw" [icon]="menuItem.icon"></fa-icon>
                <span>{{menuItem.translationKey | translate}}</span>
            </div>
        </div>
    </div>
</section>
