<div class="desktop desktop-navigation-header">
    <img src="https://picsum.photos/600/200">
</div>

<section class="mobile mobile-navigation-header">
    <fa-icon (click)="openMobileNavigation()" [icon]="mobileIcon"></fa-icon>
</section>

<section *ngIf="mobileNavigationOpened" @mobileInOutAnimation class="main-navigation-menu">
    <app-navigation-menu [routeItems]="routeItemsToShow" [navigationItemClickedCallback]="navigationItemClicked"></app-navigation-menu>
</section>

<section class="desktop main-navigation-menu main-navigation-menu--desktop">
    <app-navigation-menu [routeItems]="routeItemsToShow" [navigationItemClickedCallback]="navigationItemClicked"></app-navigation-menu>
</section>