<section class="holder">
    <h3 class="holder__header">{{'resetPasswordPage.title' | translate}}</h3>

    <app-loading-element [loading]="loading">
        <form [formGroup]="formData" (ngSubmit)="submitForm(formData.value)" class="holder__form">
            <app-text-input
                [inputConfig]="{
                    formControl: password,
                    hintKey: 'resetPasswordPage.hint',
                    labelKey: 'input.password',
                    inputType: 'password',
                    idAttribute: 'passwordId',
                    isRequired: true
                }"
                formControlName="password"
            ></app-text-input>

            <button [disabled]="!formData.valid" type="submit" appPrimaryButton class="holder__button">{{'resetPasswordPage.apply' | translate}}</button>
        </form>

        <div class="end-part">
            <div class="end-part__entry">
                <span>{{'forgotPasswordPage.routeToLogin' | translate}}</span>
                <a (click)="routeBackToLogin()">{{'signUpPage.loginHere' | translate}}</a>
            </div>
        </div>
    </app-loading-element>
</section>