.container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 0.75rem;
  padding: 2.25rem;
  box-shadow: var(--bkg-shadow-color) 0 0 10px;
  box-sizing: border-box;
  transform: translate(-50%,-50%);
  background: var(--bkg-color);
  color: #101010;

  h3 {
    margin: 0;
  }

  p {
    margin: 0.75rem 0 0 0;
  }

  &__holder {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    @media(max-width: 700px) {
      flex-direction: column;
    }
  }

  @media(max-width: 700px) {
    width: 90%;
    flex-direction: column;
  }

  fa-icon {
    font-size: 4rem;
  }

  &--information {
    background: #eaf6ff;

    fa-icon {
      font-size: 4rem;
      color: #5a819d;
    }
  }

  &--success {
    background: #eaffeb;

    fa-icon {
      font-size: 4rem;
      color: #5a9d5a;
    }
  }

  &--error {
    background: #ffeaea;

    fa-icon {
      color: var(--error);
    }
  }
}