<section class="feedback">
    <div class="feedback__header">
        <h1>{{'feedback.title' | translate}}</h1>
        <div class="feedback__header-create">
            <div>
                <label for="createId">{{'feedback.showOnlyMine' | translate}}</label>
                <input [(ngModel)]="showOnlyOwnItems" id="createId" type="checkbox">
            </div>
            <button appPrimaryButton>{{'feedback.create' | translate}}</button>
        </div>
    </div>

    <app-loading-element [loading]="(items$ | async) === null">
        <section class="feedback-holder">
            <ng-container *ngFor="let item of items$ | async">
                <app-feedback-item *ngIf="item.isOwn || !showOnlyOwnItems" [item]="item"></app-feedback-item>
            </ng-container>
        </section>
    </app-loading-element>
</section>