.main-table {
  width: 100%;
  border-top: var(--bkg-shadow-color) dashed 1px;
  border-spacing: 0;

  th {
    padding: 1rem 0 1rem 0;
  }
  td {
    background: var(--bkg-color);
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
  }

  tr:nth-child(odd) td {
    background: var(--bkg-color-shade);
  }

  &__sortable-column {
    position: relative;
    user-select: none;
    cursor: pointer;

    &::after {
      position: absolute;
      right: -15px;
      top: 0;
    }

    &:hover {
      color: var(--primary-color);
    }

    &--ascending {
      &::after {
        content: '⮟';
      }
    }

    &--descending {
      &::after {
        content: '⮝';
      }
    }
  }
}

.no-data-message {
  border-top: var(--bkg-shadow-color) dashed 1px;
  padding: 3rem;
  text-align: center;
}