<section class="profile-header">
    <fa-icon icon="bell" class="regular-icon"></fa-icon>
    <fa-icon [icon]="['far', 'question-circle']" class="regular-icon"></fa-icon>

    <div class="user-section">
        <fa-icon icon="circle-user" class="user-section__icon"></fa-icon>
        <div class="user-section__names">
            <span>Lord_Zmarfan</span>
            <span>Anonymous User</span>
        </div>
        <fa-icon icon="caret-down" class="user-section__arrow"></fa-icon>
    </div>
</section>
