<app-desktop-profile-header
    class="desktop"
    [loggedIn]="loggedIn"
    [menuItems]="menuItems"
    [bellItems]="bellItems"
    [infoButtonCallback]="infoButtonCallback"
    [bellItemsOpenedCallback]="bellItemsOpenedCallback"
></app-desktop-profile-header>
<app-mobile-profile-header
    class="mobile"
    [loggedIn]="loggedIn"
    [menuItems]="menuItems"
    [bellItems]="bellItems"
    [infoButtonCallback]="infoButtonCallback"
    [bellItemsOpenedCallback]="bellItemsOpenedCallback"
></app-mobile-profile-header>