@import "src/styles/colors";
$temp-color: #7866b2;

.profile-header {
  user-select: none;
  height: 100%;
  display: flex;
  align-items: center;
}

.regular-icon {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5rem;
  padding: 0 1rem;

  &:hover {
    cursor: pointer;
    background: $temp-color;
  }
}

.user-section {
  height: 100%;

  &__menu {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;

    &:hover {
      cursor: pointer;
      background: $temp-color;
    }
  }

  &__icon {
    padding-left: 1rem;
    font-size: 2.75rem;
  }

  &__user-name {
    font-weight: bold;
  }

  &__display-name {
    font-size: 0.8rem;
  }

  &__names {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }

  &__arrow {
    padding: 0 1rem 0 1rem;
  }
}

.display-menu {
  transform-origin: top;
  border-radius: 0.25rem;
  color: #313131;
  margin-top: 5px;
  padding: 0.5rem 0;
  background: white;
  box-shadow: #838383 0 0 5px;

  &__route {
    position: relative;
    display: flex;
    justify-content: left;
    padding: 0.6rem 0;
    font-size: 1rem;

    &::after {
      position: absolute;
      bottom: 0;
      right: 0;
      content: "";
      background: #6c5ca1ff;
      height: 1px;
      width: 0;
      transition: width 0.2s ease-in-out;
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      background: #6c5ca1;
      height: 1px;
      width: 0;
      transition: width 0.2s ease-in-out;
    }

    &:hover {
      box-sizing: border-box;
      background: #e9e6ef;
      cursor: pointer;

      &::after {
        width: 50%;
      }

      &::before {
        width: 50%;
      }
    }

    fa-icon {
      font-size: 1.15rem;
      padding: 0 1rem;
    }
  }
}