<section class="profile-header">
    <fa-icon [icon]="['far', 'bell']" class="regular-icon"></fa-icon>
    <fa-icon [icon]="['far', 'question-circle']" class="regular-icon"></fa-icon>

    <div class="user-section">
        <div (click)="menuToggle($event)" class="user-section__menu">
            <fa-icon icon="circle-user" class="user-section__icon"></fa-icon>
            <div class="user-section__names">
                <span class="user-section__user-name">{{userName}}</span>
                <span class="user-section__display-name">{{displayName}}</span>
            </div>
            <fa-icon icon="caret-down" class="user-section__arrow"></fa-icon>
        </div>

        <div *ngIf="menuOpen" @inOutAnimation class="display-menu">
            <div *ngFor="let menuItem of menuItems" class="display-menu__route">
                <fa-icon class="fa-fw" [icon]="menuItem.icon"></fa-icon>
                <span>{{menuItem.translationKey}}</span>
            </div>
        </div>
    </div>
</section>
