.create-feedback {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  padding: 2rem;
  width: 75vw;

  &__ending {
    display: flex;
    align-items: center;
    gap: 1rem;
    align-self: flex-end;

    @media(max-width: 600px) {
      flex-direction: column;
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;
  }
}