body {
  --primary-color: #6c5ca1;
  --secondary-color: #7866b2;
  --selected-color: #b4aed0;
  --text-color: #080808;
  --text-color-faded: #8f8f8f;
  --text-color-light: #dadada;
  --bkg-color: #fff;
  --bkg-color-light-accent: #e9e6ef;
  --bkg-color-shade: #e2e2ea;
  --bkg-shadow-color: #838383;
  --button-color: #d4d4dc;
}
body.dark-theme {
  --primary-color: #534180;
  --secondary-color: #66539f;
  --selected-color: #373642;
  --text-color: #dadada;
  --text-color-faded: #545454;
  --text-color-light: #080808;
  --bkg-color: #2c2c2c;
  --bkg-color-light-accent: #403d41;
  --bkg-color-shade: #262626;
  --bkg-shadow-color: #1a1a1a;
  --button-color: #403d41;
}

html, body {
  height: 100%;
  margin: 0;
  color: var(--text-color);
  background: var(--bkg-color-shade);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

div .mat-dialog-container {
  background: var(--bkg-color);
  color: var(--text-color);
  padding: 0;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0 !important;
  background-color: var(--primary-color);
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: var(--primary-color);
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: var(--primary-color);
}

.mat-raised-button {
  background: var(--button-color);
  color: var(--text-color);
}

.mat-form-field-label {
  color: var(--text-color);
}

.mat-hint {
  color: var(--text-color);
}

.mat-focused .mat-form-field-label {
  color: var(--secondary-color) !important;
}

.mat-form-field-underline {
  background-color: var(--secondary-color) !important;
}

.mat-form-field-ripple {
  background-color: var(--secondary-color) !important;
}

.mat-form-field-infix input {
  &::placeholder {
    color: var(--text-color-faded);
  }
}