.navigation-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__copyright {
    text-align: center;
  }
}

.sub-routes-holder {
  overflow: hidden;
}

.route-item {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0 0.75rem 1.25rem;
  color: var(--text-color);
  transition: 0.2s linear background-color, 0.2s linear color;

  &__holder-icon {
    font-size: 0.8rem;
    padding-right: 0.75rem;
  }

  &__name-and-icon {
    display: flex;
    align-items: center;
    gap: 1rem;

    fa-icon {
      font-size: 1.2rem;
      text-align: center;
      width: 20px;
    }
  }

  &::after {
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    background: var(--primary-color);
    height: 1px;
    width: 0;
    transition: width 0.2s ease-in-out;
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background: var(--primary-color);
    height: 1px;
    width: 0;
    transition: width 0.2s ease-in-out;
  }

  &--sub-item {
    background: var(--bkg-input);
  }

  &--selectable {
    &:hover {
      background: var(--bkg-color-light-accent);

      &::after {
        width: 50%;
      }

      &::before {
        width: 50%;
      }
    }
  }

  &--selected {
    background-color: var(--primary-color);
    color: var(--text-color-light);
  }

  &--sub-item-selected {
    font-weight: 800;
    color: var(--dark-primary-color);
  }

  &__text {
    font-size: 1rem;

    &--sub-item {
      padding-left: 2rem;
      font-size: 0.9rem;
    }
  }
}