body {
  --error: #ce564f;

  --primary-color: #6c5ca1;
  --dark-primary-color: #695c91;
  --light-primary-color: #7866b2;

  --secondary-color: #b99863;

  --text-color: #080808;
  --text-color-faded: #606060;
  --text-color-light: #dadada;

  --bkg-color: #fff;
  --bkg-input: #eee;
  --bkg-color-light-accent: #e9e6ef;
  --bkg-color-shade: #e2e2ea;
  --bkg-shadow-color: #838383;

  --button-color: #c4c4cc;
  --button-hover: #c0bbd9;
  --button-shadow: #958ea6;

  --selected-color: #b4aed0;

  --global-message-bkg-info: #c8c5e0;
  --global-message-border-info: #7866b2;
  --global-message-text-info: #0d042f;
  --global-message-bkg-success: #d6ecd4;
  --global-message-border-success: #76b266;
  --global-message-text-success: #051301;
  --global-message-bkg-error: #e3cccc;
  --global-message-border-error: #b26666;
  --global-message-text-error: #1f0202;
}
body.dark-theme {
  --error: #de6a61;

  --primary-color: #6c5ca1;
  --dark-primary-color: #403464;
  --light-primary-color: #8171bb;

  --secondary-color: #c2a277;

  --text-color: #dadada;
  --bkg-input: #262626;
  --text-color-faded: #7e7e7e;
  --text-color-light: #080808;

  --bkg-color: #2c2c2c;
  --bkg-color-light-accent: #403d41;
  --bkg-color-shade: #262626;
  --bkg-shadow-color: #1a1a1a;

  --button-color: #403d41;
  --button-hover: #363438;
  --button-shadow: #232225;

  --selected-color: #373642;

  --global-message-bkg-info: #373642;
  --global-message-border-info: #8171bb;
  --global-message-text-info: #b8b0d3;
  --global-message-bkg-success: #394236;
  --global-message-border-success: #81bb71;
  --global-message-text-success: #dfeedd;
  --global-message-bkg-error: #423636;
  --global-message-border-error: #bb7171;
  --global-message-text-error: #d3bebe;
}