.container {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 0.75rem;
  padding: 2.25rem;
  box-shadow: var(--bkg-shadow-color) 0 0 10px;
  box-sizing: border-box;
  transform: translate(-50%,-50%);
  background: #eaffeb;

  &__holder {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }

  fa-icon {
    font-size: 4rem;
    color: #5a9d5a;
  }

  &--loading {
    background: var(--bkg-color);
  }

  &--error {
    background: #ffeaea;

    fa-icon {
      color: var(--error);
    }
  }

  @media(max-width: 500px) {
    width: 90%;
    flex-direction: column;
  }
}