<div
    class="text-form" [class.text-form--error]="hasError"
    [class.text-form--selected]="isSelected"
    [class.text-form--disabled]="isDisabled"
>
    <label
        [attr.for]="config.idAttribute"
        class="text-form__label"
        [ngClass]="{
            'text-form__label--selected': isSelected || config.value,
            'text-form__label--error': hasError
        }"
    >
        {{config.labelKey | translate}}
        <span *ngIf="config.isRequired" class="text-form__required">*</span>
    </label>
    <input #input
       [type]="config.inputType"
       [(ngModel)]="config.value"
       [id]="config.idAttribute"
       [placeholder]="getPlaceholder"
       [disabled]="isDisabled"
       (focus)="onFocus()"
       (input)="onChange(input.value)"
       (blur)="onTouch()"
    >
    <fa-icon *ngIf="showPasswordEye" (click)="togglePasswordShowing()" class="password-eye" [icon]="passwordIcon"></fa-icon>
</div>

<section class="input-messages">
    <div *ngIf="showErrors; else hint" class="input-messages__error">
        <div *ngFor="let error of errorKeys" [innerHTML]="error.key | translate:error.parameters"></div>
    </div>

    <ng-template #hint>
        <span class="input-messages__hint">{{config.hintKey | translate}}</span>
    </ng-template>
</section>