<div (click)="selectInput()" class="text-form" [class.text-form--error]="hasError" [class.text-form--selected]="isSelected">
    <label
        [attr.for]="idAttribute"
        class="text-form__label"
        [ngClass]="{
            'text-form__label--selected': isSelected || value,
            'text-form__label--valid': !hasError,
            'text-form__label--error': hasError
        }"
    >
        {{label}}
    </label>
    <input #input
       [type]="inputType"
       [(ngModel)]="value"
       [id]="idAttribute"
       [placeholder]="getPlaceholder"
       [disabled]="isDisabled"
       (focus)="onFocus()"
       (input)="onChange(input.value)"
       (blur)="onTouch()"
    >
</div>

<section class="input-messages">
    <div *ngIf="showErrors; else hint" class="input-messages__error">
        <div *ngFor="let error of errorKeys" [innerHTML]="error.key | translate:error.parameters"></div>
    </div>

    <ng-template #hint>
        <span class="input-messages__hint">Detta är en hint</span>
    </ng-template>
</section>