.holder {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  right: 0;
  width: min(100%, 15rem);
  padding: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__entry {
    padding: 1rem;
    border-radius: 10px;
    box-shadow: var(--bkg-shadow-color) 0 0 4px;

    &--info {
      background: var(--global-message-bkg-info);
      border: var(--global-message-border-info) 1px solid;
      color: var(--global-message-text-info);
    }

    &--success {
      background: var(--global-message-bkg-success);
      border: var(--global-message-border-success) 1px solid;
      color: var(--global-message-text-success);
    }

    &--error {
      background: var(--global-message-bkg-error);
      border: var(--global-message-border-error) 1px solid;
      color: var(--global-message-text-error);
    }
  }
}