div {
  display: flex;
  justify-content: center;
  gap: 0.25rem;
  align-items: center;

  @media(max-width: 500px) {
    flex-direction: column-reverse;
  }

  img {
    max-width: 1.5rem;
  }

  span {
    min-width: 2.5rem;
  }
}
