<section class="holder">
    <h3 class="holder__header">{{'loginPage.signUp' | translate}}</h3>

    <form [formGroup]="registrationForm">
        <app-text-input
            formControlName="email"
            [formControl]="email"
            inputType="email"
            [label]="'input.email' | translate"
            inputPlaceholder="Ex. richard@example.com"
            [isRequired]="true"
            idAttribute="emailId"
        ></app-text-input>

        <app-text-input
            formControlName="password"
            [formControl]="password"
            inputType="password"
            [label]="'input.password' | translate"
            [isRequired]="true"
            idAttribute="passwordId"
        ></app-text-input>

        <div>form is valid = {{registrationForm.valid}}</div>
    </form>
</section>
