<section class="holder">
    <h3 class="holder__header">{{'loginPage.signUp' | translate}}</h3>

    <form [formGroup]="registrationForm" class="holder__form">
        <app-text-input
            [inputConfig]="{
                formControl: email,
                labelKey: 'input.email',
                placeholder: 'Ex. richard@example.com',
                hintKey: 'hint.key',
                inputType: 'email',
                idAttribute: 'emailId',
                isRequired: true
            }"
            formControlName="email"
        ></app-text-input>

        <app-text-input
            [inputConfig]="{
                formControl: password,
                labelKey: 'input.password',
                hintKey: 'hint.key',
                inputType: 'password',
                idAttribute: 'passwordId',
                isRequired: true
            }"
            formControlName="password"
        ></app-text-input>

        <div>form is valid = {{registrationForm.valid}}</div>
    </form>
</section>
