<section class="holder">
    <h3 class="holder__header">{{'forgotPasswordPage.title' | translate}}</h3>

    <app-loading-element [loading]="loading">
        <form [formGroup]="formData" (ngSubmit)="submitForm(formData.value)" class="holder__form">
            <app-text-input
                [inputConfig]="{
                    formControl: email,
                    hintKey: 'forgotPasswordPage.hint',
                    labelKey: 'input.email',
                    placeholder: 'Ex. richard@example.com',
                    inputType: 'email',
                    idAttribute: 'emailId',
                    isRequired: true
                }"
                formControlName="email"
            ></app-text-input>

            <button [disabled]="!formData.valid" type="submit" appPrimaryButton class="holder__button">{{'forgotPasswordPage.apply' | translate}}</button>
        </form>

        <div class="end-part">
            <div class="end-part__entry">
                <span>{{'forgotPasswordPage.routeToLogin' | translate}}</span>
                <a (click)="routeBackToLogin()">{{'signUpPage.loginHere' | translate}}</a>
            </div>
        </div>
    </app-loading-element>
</section>