.feedback-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  background: var(--global-message-bkg-info);
  padding: 3rem 2rem 1rem 2rem;
  border-radius: 20px 5px 20px 5px;

  h3 {
    font-size: 1.1rem;
    font-weight: 500;
    word-break: break-all;
  }

  &__delete {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    color: var(--primary-color-text);

    &:hover {
      transform: scale(1.15);
    }
  }

  &__time {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    color: var(--primary-color-text);
    font-size: 0.75rem;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      margin: 0;
      color: var(--primary-color-text);
      font-weight: 500;
    }
  }

  &__voting {
    display: flex;
    gap: 0.25rem;
    color: #a796c9;

    span {
      align-self: center;
      font-size: 1.25rem;
    }

    fa-icon {
      user-select: none;
      cursor: pointer;
      font-size: 2rem;
      transition: transform 0.15s ease-in-out, color 0.15s ease-in-out;

      &:hover {
        transform: scale(1.05);
        color: #9887bd;
      }
    }

    &--voted {
      color: var(--primary-color);

      fa-icon {
        &:hover {
          transform: scale(1.05);
          color: #655388;
        }
      }
    }
  }

  &__completed {
    font-size: 2rem;
    color: var(--primary-color);
  }
}