<div class="feedback-item">
    <fa-icon *ngIf="item.isOwn" (click)="deleteItem()" icon="times" class="feedback-item__delete"></fa-icon>
    <span class="feedback-item__time">{{item.date}}</span>

    <h3>{{item.text}}</h3>
    <div class="feedback-item__info">
        <h4>{{item.authorDisplayName}}</h4>
        <div *ngIf="!item.completed" class="feedback-item__voting" [class.feedback-item__voting--voted]="hasLiked">
            <span>{{item.amountOfUpVotesNotYou + (hasLiked ? 1 : 0)}}</span>
            <fa-icon (click)="toggleOwnLike()" icon="thumbs-up"></fa-icon>
            <button *ngIf="session.user?.isAdmin" (click)="markItemAsComplete()" appPrimaryButton>{{'feedback.markAsComplete' | translate}}</button>
        </div>
        <fa-icon *ngIf="item.completed" icon="check-circle" class="feedback-item__completed"></fa-icon>
    </div>
</div>
