<div
    *ngFor="let languageOption of languageOptions; let isLast = last"
    (click)="selectLanguage(languageOption.language)"
    class="language-entry"
    [ngClass]="{
        'language-entry--selected': languageIsSelected(languageOption.language)
    }"
>
    <span>{{languageOption.key | translate}}</span>
    <form class="flag-entry">
        <div class="flag-entry__flags">
            <img *ngFor="let flagPath of languageOption.flagPaths" [src]="flagPath">
        </div>
        <input type="radio" [checked]="languageIsSelected(languageOption.language)" [value]="languageOption.language">
    </form>
</div>

<div class="language-header">
    <span class="language-header__text">{{'navigation.profile.language' | translate}}</span>
    <div class="language-header__buttons">
        <button appButton (click)="cancel()">{{'buttons.cancel' | translate}}</button>
        <button appPrimaryButton mat-dialog-close="true">{{'buttons.apply' | translate}}</button>
    </div>
</div>