$color1: #c6cad7;
$color2: #b198c5;
$color3: #6d5da2;

.loader {
  width: 7rem;
  height: 7rem;

  &--small {
    width: 3rem;
    height: 3rem;
  }
}
svg {
  width: 100%;
  fill: none;
}

.load {
  transform-origin: 50% 50%;
  stroke-dasharray: 570;
  stroke-width: 10px;

  &.one {
    stroke: $color3;
    animation: load 1.5s infinite;
  }
  &.two {
    stroke: $color2;
    animation: load 1.5s infinite;
    animation-delay: 0.2s;
  }
  &.three {
    stroke: $color1;
    animation: load 1.5s infinite;
    animation-delay: 0.4s;
  }
}

.point {
  animation: bounce 1s infinite ease-in-out;
  &.one {
    fill: $color1;
    animation-delay: 0s;
  }
  &.two {
    fill: $color2;
    animation-delay: 0.1s;
  }
  &.three {
    fill: $color3;
    animation-delay: 0.2s;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes load {
  0% {
    stroke-dashoffset: 570;
  }
  50% {
    stroke-dashoffset: 530;
  }
  100% {
    stroke-dashoffset: 570;
    transform: rotate(360deg);
  }
}
