@import "src/styles/responsiveness.scss";

.next-race-timing {
  border: 0.8rem solid var(--global-message-bkg-info);
  border-radius: 20px;
  padding: 1rem;
  box-shadow: var(--dark-primary-color-text) 0 0 10px;

  &__grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media(min-width: $mobile-max-width) {
      display: grid;
      position: relative;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-auto-flow: column;
      margin: 1rem 0.5rem;
      column-gap: 4rem;

      &::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        content: "";
        background: var(--light-primary-color);
        height: 100%;
        width: 1px;
        transition: width 0.2s ease-in-out;
      }
    }
  }

  &__icon {
    position: relative;
    border: 1px solid var(--text-color);
    padding: 0.65rem;
    border-radius: 100%;
  }

  &__icon-fill {
    position: absolute;
    color: var(--secondary-color);
    font-size: 0.5rem;
    left: 50%;
    transform: translate(-50%, -50%);

    &--check {
      font-size: 1.5rem;
      transform: translate(-35%, -60%);
    }
  }
}

.time-session {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 15px 5px 15px 5px;
  gap: 4rem;

  &--selected {
    background: var(--bkg-color-shade);
  }

  @media(max-width: $mobile-max-width) {
    gap: 2rem;
  }

  &__info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__date-month {
    padding: 0.1rem 1rem;
    border-radius: 20px;
    background: var(--light-gray);
    font-size: 0.65rem;
  }

  &__session {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-left: 1rem;
    border-left: 1px solid var(--text-color);

    h3 {
      white-space: nowrap;
      font-size: 1.5rem;
      font-weight: 500;
      margin: 0;

      @media(max-width: $mobile-max-width) {
        font-size: 1rem;
      }
    }

    &--selected {
      h3 {
        color: var(--primary-color-text);
      }
    }

    span {
      font-size: 0.75rem;
    }
  }
}